
PROJECT_NAME="FastAPI Sandbox"
DEBUG=False

# Database settings



# Database settings (Docker)
DATABASE_URL=postgresql://fasandbox_user:fasandbox_pass@postgres:5432/fasandbox_db
DB_HOST=postgres
DB_PORT=5432
DB_USER=fasandbox_user
DB_PASSWORD=fasandbox_pass
DB_NAME=fasandbox_db

# Redis settings (Docker)
REDIS_URL=redis://redis:6379/0
REDIS_HOST=redis
REDIS_PORT=6379
REDIS_DB=0

# Celery settings (Docker)
CELERY_BROKER_URL=redis://redis:6379/0
CELERY_RESULT_BACKEND=redis://redis:6379/0

# JWT settings
SECRET_KEY=your-secret-key-for-change
ALGORITHM=HS256
ACCESS_TOKEN_EXPIRE_MINUTES=30

# API settings
API_V1_STR=/api/v1

# External API settings
EXTERNAL_API_URL=https://jsonplaceholder.typicode.com
SYNC_INTERVAL_MINUTES=60
